* {
  font-family: "Quicksand", sans-serif;
}
button {
  border: 1px solid white;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 600;
  height: auto;
}
button:focus {
  border: none;
  outline: none;
}
