.check-button {
  align-self: center;
  border-radius: 30px;
  height: fit-content;
  margin: 1em 5em 0 1em;
  width: 15%;
}
.not-answered {
  color: grey;
  background-color: #eeeeee;
}
.uncompleted {
  color: #75b753;
  background-color: #eeeeee;
}
.completed {
  color: white;
  background-color: #75b753;
}
